<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    ErrorDocument 404 /404.html
#    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
    Redirect  "/api" "https://rapidapi.com/stromdao-stromdao-default/api/co2-offset"
</IfModule>
